Options +FollowSymLinks
RewriteEngine on
#RewriteBase /
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)$ $1.php

RewriteRule ^lote/(.*)/(.*)$ ./lote.php?id=$2
RewriteRule ^lotes/(.*)/(.*)$ ./lotes.php?id=$2
RewriteRule ^inicio ./index.php
RewriteRule ^articulo/(.*)/(.*)$ ./articulo.php?id=$2
RewriteRule ^c/(.*)/(.*)$ ./contenidos.php?id=$2

#ErrorDocument 404 https://solucionesjuridicassrl.com/404

#ErrorDocument 400 https://solucionesjuridicassrl.com/404

#ErrorDocument 401 https://solucionesjuridicassrl.com/404

#ErrorDocument 403 https://solucionesjuridicassrl.com/404

#ErrorDocument 500 https://solucionesjuridicassrl.com/404



RewriteEngine on
RewriteCond %{HTTP_HOST} ^solucionesjuridicassrl.com [NC]
RewriteRule ^(.*)$ https://www.solucionesjuridicassrl.com/$1 [L,R=301,NC]